.calendar {
    display: flex;
    flex-flow: column;
}
.calendar .header .month-year {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.calendar .days {
    display: flex;
    flex-flow: wrap;
    text-align: center;
}
.calendar .days .day_name {
    width: calc(100% / 7);
    text-align: center;
    white-space: nowrap;
    border: 1px solid white;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 12px;
    background-color: #ffc107;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding-top: 20px;
    padding-bottom:20px;
    font-weight: bold;
    color: #7c878d;
    cursor: pointer;
    min-height: 40px;
    text-align: center;
}
.calendar .days .day_num span {
    display: inline-flex;
    text-align: center;
    font-size: 14px;

}
.calendar .days .day_num .event {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: #f7c30d;
    color: #fff;
    
}
.calendar .days .day_num .event.green {
    background-color: #51ce57;
}
.calendar .days .day_num .event.blue {
    background-color: #518fce;
}
.calendar .days .day_num .event.red {
    background-color: #ce5151;
}
.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}

.calendar .days .day_num.ignore {
    background-color: #fdfdfd36;
    color: #ced2d4;
    cursor: inherit;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
}
.calendar .days .day_num.selected {
    background-color: #f1f2f3;
    cursor: inherit;
    
}